  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .post {
    font-size: 13px;
    text-align: center;

  }
  .container {
    background-color: #9e9696;
    max-width: 1100px;
  
  }
  .navbar-brand {
    color:grey;
  }
